<footer class="mt-2">
    <div class="f-info d-flex  flex-column justify-content-center align-items-center">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brand">&copy;2024 TravelLook</div>
        <div class="f-info-links">
            <a href="#privacy">Privacy</a>
            <a href="#terms">Terms</a>
            <a href="#componeydetails">componey details</a>
        </div>

    </div>
</footer>